.navbar {
  @apply bg-charcoal-900 shadow;
  @apply fixed top-0 left-0 right-0;
  @apply z-50 w-full;

  .main-wrapper {
    @apply  mx-auto flex items-center justify-between px-6 py-4;
  }

  .logo {
    @apply text-3xl font-bold text-white/85;

    span {
      @apply text-lg;
    }
  }

  .links {
    @apply hidden md:flex gap-6;
  }

  .link {
    @apply text-balak-500 hover:text-white/85 font-medium transition-colors;
  }

  /* Animation states */
  &.navbar--visible {
    transform: translateY(0);
  }

  &.navbar--hidden {
    transform: translateY(-100%);
  }

  transition: transform 0.3s ease-in-out;

  .navbar__menu-button {
    @apply lg:hidden relative bg-charcoal-800 text-white px-6 py-3 flex items-center gap-3 transition-all duration-200;
  }

  .navbar__menu-text {
    @apply text-sm font-medium tracking-wide;
  }

  .navbar_menu-option {
    @apply uppercase;
    @apply text-white transition text-sm font-medium tracking-wide;
    @apply hover:font-extrabold;
  }

  .navbar__menu-icon {
    @apply flex flex-col gap-1;
  }

  .navbar__menu-line {
    @apply block w-5 h-px bg-white transition-all;
  }

  .navbar__menu-button:hover .navbar__menu-line {
    @apply w-6;
  }
}