.navbar {
  @apply bg-gray-800 shadow;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  width: 100%;

  .main-wrapper {
    @apply  mx-auto flex items-center justify-between px-6 py-3;
  }

  .logo {
    @apply text-3xl font-bold text-white;

    span {
      @apply text-lg;
    }
  }

  .links {
    @apply hidden md:flex gap-6;
  }

  .link {
    @apply text-balak-500 hover:text-white font-medium transition-colors;
  }

  /* Animation states */
  &.navbar--visible {
    transform: translateY(0);
  }

  &.navbar--hidden {
    transform: translateY(-100%);
  }
}