.route-group-display {
    @apply  transition-all duration-500 ease-out;
    @apply relative w-full h-[300px];
    @apply rounded-lg overflow-hidden;
    @apply shadow-lg;
    @apply opacity-0 translate-y-4;
    @apply border border-transparent;
    @apply opacity-50;
    @apply hover:border-balak-500 hover:border-2 hover:shadow-2xl hover:opacity-100;

  &.route-group-display--visible {
    @apply opacity-100 translate-y-0;
  }

  .skeleton {
    @apply absolute inset-0 bg-gradient-to-br to-balak-300 animate-pulse;
  }

  .image {
    @apply opacity-50;
    @apply object-cover transition-all duration-500 ease-out;

    &.image--loaded {
      @apply opacity-100 scale-100;
    }

    &.image--loading {
      @apply opacity-0 scale-105;
    }
  }

  .overlay {
    @apply absolute inset-0;
    background: linear-gradient(to top, 
      rgba(0, 0, 0, 0.85) 0%,
      rgba(0, 0, 0, 0.7) 10%,
      rgba(0, 0, 0, 0.4) 30%,
      rgba(0, 0, 0, 0.15) 50%,
      rgba(0, 0, 0, 0.05) 80%,
      transparent 100%
    );
  }

  .content {
    @apply absolute bottom-0 left-0 right-0 p-4;

    .title-section {
      @apply flex items-center justify-between;

      .title {
        @apply text-white font-bold text-2xl mb-1;
      }

      .subtitle {
        @apply text-balak-700 text-lg;
      }

      .route-count-badge {
        @apply text-gray-900;
        @apply text-xs font-bold;
        @apply bg-balak-700  px-3 py-1 rounded-full;
        @apply mt-auto;
      }
    }

    .location {
      @apply mt-2 flex items-center text-white text-sm;
    }
  }
}
