@import "@mantine/core/styles.css";
@import "@mantine/carousel/styles.css";
@import "../styles/routeCards.css";
@import "../styles/navbar.css";
@import "../styles/routeGroupDisplay.css";
@import "../styles/routeGroupResults.css";
@import "../styles/mountainHero.css";
@import "../styles/coffeeSpotHero.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ui-bg: var(--color-charcoal-900);
  --ui-text: #ffffff;

  --ui-border: rgba(255,255,255,0.12);
  --ui-muted: rgba(255,255,255,0.06);
}



.section-container {
  @apply w-full;

  @apply px-4 py-6;

  @apply md:px-14 md:py-10;
}

.heading-1 {
  @apply text-4xl md:text-5xl font-extrabold;
  @apply py-10;
}

.heading-2 {
  @apply text-2xl md:text-3xl font-extrabold;
  @apply py-10;
}

body {
  background: var(--color-charcoal-900);
  color: #ffffff;
  font-family: 'Public Sans', sans-serif;
}
